spring:
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 1MB
  docker:
    compose:
      enabled: true
      file: ./etc/docker-compose.yml
      lifecycle-management: start_only
      readiness:
        wait: never
  security:
    saml2:
      relyingparty:
        registration:
          springone2023:
            signing.credentials: &relying-party-credentials
              - private-key-location: classpath:credentials/rp-private.key
                certificate-location: classpath:credentials/rp-certificate.crt
            assertingparty:
              metadata-uri: http://idp.springone.io/simplesaml/saml2/idp/metadata.php
          springtwo2023:
            signing.credentials: *relying-party-credentials
            assertingparty:
              metadata-uri: http://idp.springtwo.io/simplesaml/saml2/idp/metadata.php
